body{
   background-color: #ff555f;
}
.login-page{
    background-color: #222222;
}
.login-box{
    background-color: transparent;
}
.login-logo a{
    color: #fff;
}
.login-card-body {
    background-color: transparent;
}
.login-card-body p{
    color: #fff;
}
.card{
    background-color: transparent;
}
.btn{
    background-color: transparent;
    color: #fff;
    border: 1px solid #555555;
    transition: 1.2s;
}
.btn:hover{
    background-color: #555555;
    color: #fff;
    border: 1px solid #555555;
    transition: 1.2s;
}
span{
    color: #fff
}
input{
    outline: none !important;
}