body{
    padding: 0;
    margin: 0;
    font-family: Calibri,sans-serif;
    box-sizing: border-box;
}

/* css do menu */
.topo{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 64px;
    background-color: rgba(0, 0,0,0.5);
    z-index: 1000;
    position: relative;
}
.fone{
    height: 64px;
    line-height: 64px;
    padding-left: 35px;
    
}
.fone a {
    color: #ffffff;
    font-size: 14pt;
    text-decoration: none;
}
.logo img{
    width:200px;
    margin-left: -150px;
    margin-top: 5px;
}

.menu button {
    right: 0;
    float: right;
    height: 64px;
    width: 64px;
    font-size: 20pt;
    color: #ffffff;
}
.menu button:hover .menu-area{
    display: block;
 }
 .menu button:hover{
    background-color: #ffffff;
    color: #000000;
}
.menu-area{
    position: absolute;
    top: 64px;
    right: 0;
    display: none;
    width: 230px;
    height: 300px;
    background-color: #c32025;

}
.show{
    display: block;
}
.banner{
    margin-top: -64px;
}
.banner img{
    width: 100%;
    height: hv;
}
.about{
    padding-top: 60px;
    margin: auto;
    font-size: 14pt;
    line-height: 18px;
    width: 90%;
    height: 200px;
    text-align: center;
}
.about a {
    color: #c32025;
    text-decoration: none;
    font-size: 16pt;
    padding: 20px;
}
.contato{
    width: 230px;
    height: 230px;
    margin-top: -230px;
    margin-left: 50px;
}

/* --- Carousel --- */

#carouselSlide{
    position: block;
}
#carouselSlide li.active{
    background-color: #c32025;
}
#carouselSlide li{
    background-color: #aaa;
}
.carousel-body{
    width: 80%;
    margin: 10px 10%;
}
.captions-item{
    width: 50%;
}
.captions{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px 50px;
}
.captions-item h1,
.captions-item a{
    color: #c32025;
}

/* --- Clients --- */
.session-clients{
    width: 100%;
    background-color: #ddd;
    text-align: center;
}
.clients{
    width: 100%;
    display: flex;
    justify-content: center;
}
.client-title{
    width:250px;
    background-color: #c32025;
    display: flex;
    justify-content: center;   
}

.client-body{
    width: 160px;
    height: 80px;
    margin: 5px;
    background-color: #c32025;
}
.client{
    width: 160px;
    height: 80px;
    text-align: center;
    background-color: #fff;
    display: flex;   
    align-items: center;
    justify-content: center;
}
.client-img{
    max-width: 150px;
    max-height: 70px;
}
.products{
    width: 1090px;
    margin: auto;
    position: relative;;
}
.div2x2{
    width: 220px;
    height: 220px;
    background-color: #0000ff;
    text-align: center;
}
.div2x4{
    width: 440px;
    height: 220px;
    background-color: #00ff00;
    text-align: center;
}
.div4x4{
    width: 440px;
    height: 440px;
    background-color: #ff0000;
    text-align: center;
}
@media(max-width: 900px){
    .fone{
        display: none;
    }
    .logo img{
       margin-left: 10px;
       margin-top: 5px;
    }
    .product{
        width: 880px;
        margin: auto;
    }
    .div2x2,
    .div2x4,
    .div4x4{
        width: 720px;
        height: 220px;
        margin: auto;
    }
}
@media(max-width: 400px){
    .fone{
        display: none;
    }
    .logo img{
       margin-left: 10px;
       margin-top: 5px;
    }
    .product{
        width: 400px;
        margin: 0;
    }
    .div2x2,
    .div2x4,
    .div4x4{
        width: 380px;
        height: 220px;
        margin: 0;
        padding: 0;
    }
}

/* footer */

ul{
    
}
li{
    text-decoration: none;

}




/* copia do antigo*/


.list-blocks {
    padding: 0 0 105px;
    width: 100%;
    background: #fff;
  }
  .list-blocks .container {
    max-width: 1200px;
    padding: 0;
  }
  .list-blocks #mosaic-blocks {
    margin: 0;
  }
  .list-blocks .grid-sizer {
    width: 20%;
  }
  .list-blocks .black-overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  .list-blocks .inner-block {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .list-blocks .block {
    overflow: hidden;
    margin: auto;
    float: left;
    margin: 0;
    display: block;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: relative;
    cursor: default;
  }
  .list-blocks .block:hover .inner-block {
    -moz-transform: scale(1.125);
    -ms-transform: scale(1.125);
    -o-transform: scale(1.125);
    -webkit-transform: scale(1.125);
    transform: scale(1.125);
  }
  .list-blocks .w-240 {
    width: 20%;
  }
  .list-blocks .w-480 {
    width: 40%;
  }
  .list-blocks .h-240 {
    height: 240px;
  }
  .list-blocks .h-480 {
    height: 480px;
  }
  .list-blocks .caption {
    padding: 25px;
    position: absolute;
    width: auto;
    display: inline-block;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .list-blocks .caption p {
    color: #fff;
    text-align: left;
  }
  .list-blocks .caption p.title {
    font-size: 2.6em;
    line-height: 28px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: "Roboto Condensed";
    font-weight: 400;
  }
  .list-blocks .caption p.subtitle {
    font-size: 1.6em;
    line-height: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-weight: 300;
  }
  .list-blocks .caption.bottom {
    top: auto;
    bottom: 0;
  }
  .list-blocks .caption.center {
    right: 0;
    margin: auto;
  }
  .list-blocks .caption.center p {
    text-align: center;
  }
  .list-blocks .caption.black p {
    color: #1c1c1c;
  }
  .list-blocks .caption.black p.subtitle {
    color: #1c1c1c;
  }
  .list-blocks .caption.gray p {
    color: #414349;
  }
  .list-blocks .caption.gray p.subtitle {
    color: #414349;
  }
  .list-blocks .caption.purple p {
    color: #313238;
  }
  .list-blocks .caption.purple p.subtitle {
    color: #313238;
  }
  @media only screen and (max-width: 992px) {
    .list-blocks .grid-sizer {
      width: 25%;
    }
    .list-blocks .w-240 {
      width: 25%;
    }
    .list-blocks .w-480 {
      width: 50%;
    }
  }
  @media only screen and (max-width: 768px) {
    .list-blocks .grid-sizer {
      width: 50%;
    }
    .list-blocks .w-240 {
      width: 50%;
    }
    .list-blocks .w-480 {
      width: 100%;
    }
  }
  @media only screen and (max-width: 480px) {
    .list-blocks .grid-sizer {
      width: 100%;
    }
    .list-blocks .w-240 {
      width: 100%;
    }
  }

.clients {
    padding: 55px 0 90px;
    background: #f5f5f5;
  }
  .clients .subtitle {
    color: #c32025;
    margin: 0 0 50px;
    text-align: center;
  }
  .clients ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    text-align: center;
  }
  .clients ul li {
    display: inline-block;
    background: #fff;
    height: 64px;
    margin: 0 .5% 1%;
    width: 13%;
    position: relative;
  }
  .clients ul li img {
    padding: 10px;
    margin: auto;
    height: auto;
    max-height: 64px;
    max-width: 140px;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @media only screen and (max-width: 860px) {
    .clients ul li {
      width: 18.6%;
    }
  }
  @media only screen and (max-width: 640px) {
    .clients ul li {
      width: 23%;
    }
  }
  @media (max-width: 560px) {
    .clients ul li {
      width: 31%;
    }
  }
  @media only screen and (max-width: 480px) {
    .clients ul li {
      width: 48%;
    }
  }
.media{
    padding-top: 30px;
    list-style-type: none;
}
.media li{
    padding: 10px;
    text-align: center;   
}
.media a{
  text-decoration: none;
  color: #fff;
}
.media2{
    margin-top: 30px;
    margin-left: -20px;
    display: block;
    list-style-type: none;
    color: #fff;
}
.media2 li{
    padding: 5px;
    text-align: center;   
}
.media2 a{
  text-decoration: none;
  font-size: 13.5pt;
  padding: 20px;
  color: #ddd;
}

/*----------------------BLOG----------------------*/
.linkModal{
  text-decoration:none; 
  cursor:pointer;
}
.divImg{
  background-color:#f5f5f5;
}
.divBody{
  background-color:#e5e5e5;
  word-wrap: break-word;
}
.titleDesc{
  font-size: 14pt;
}
.blogTitle{
  color:#c32025; 
  font-size: 22pt;
  font-weight:700;
  max-width:500px;
}
.deskBlog{
  word-wrap: break-word;
}
.dateTitle{
  font-size: 12pt;
  font-weight: 400;
  color: #909090;
}
.dateBody{
  font-size: 10pt;
  font-weight: 400;
  
}
/*---------------------/BLOG----------------------*/